h1 {
    margin-left: 500px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
     width: 500px;
     margin: auto;
}

img {
    width: 200px;
}

div {
    padding: 25px;
    margin: 25px;
    border: gold 2px solid;
    border-radius: 20px;
}
